@import "colors.rasi"

configuration {
    show-icons: true;
    icon-theme: "Papirus";
    location: 0;
    font: "JetBrainsMono Nerd Font 12";
    display-drun: "Launch:";
}

window {
    width: 45%;
    transparency: "real";
    orientation: vertical;
    border-radius: 10px;
}

mainbox {
    children: [inputbar, listview];
}

// ELEMENT
// -----------------------------------

element {
    padding: 4 12;
    border-radius: 2px;
}

element-icon {
    size: 16 px;
    background-color: inherit;
    padding: 0 6 0 0;
    alignment: vertical;
}

listview {
    columns: 2;
    lines: 9;
    padding: 8 0;
    fixed-height: true;
    fixed-columns: true;
    fixed-lines: true;
    border: 0 10 6 10;
}

// INPUT BAR
//------------------------------------------------

entry {
    padding: 10 10 0 0;
    margin: 0 -2 0 0;
}

inputbar {
    padding: 10 0 0;
    margin: 0 0 0 0;
}

prompt {
    padding: 10 6 0 10;
    margin: 0 -2 0 0;
}
