/* Doom One — rofi color variables. */

* {
    bg:          #282c34;
    fg:          #bbc2cf;
    accent:      #ecbe7b;
    accent-2:    #da8548;
    border:      #ecbe7b;
    urgent:      #da8548;
    selected-fg: #bbc2cf;
    entry-fg:    #da8548;
    prompt-fg:   #ecbe7b;
    header:      #51afef;

    background-color: @bg;
}
