/* Nord — rofi color variables. */

* {
    bg:          #2e3440;
    fg:          #d8dee9;
    accent:      #ebcb8b;
    accent-2:    #d08770;
    border:      #ebcb8b;
    urgent:      #d08770;
    selected-fg: #d8dee9;
    entry-fg:    #d08770;
    prompt-fg:   #ebcb8b;
    header:      #81a1c1;

    background-color: @bg;
}
