/* Moonfly — rofi color variables. */

* {
    bg:          #080808;
    fg:          #b2b2b2;
    accent:      #e3c78a;
    accent-2:    #ef9f76;
    border:      #e3c78a;
    urgent:      #ef9f76;
    selected-fg: #b2b2b2;
    entry-fg:    #ef9f76;
    prompt-fg:   #e3c78a;
    header:      #80a0ff;

    background-color: @bg;
}
